.infoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #ff6060;
}

.infoLeft h2 {
  font-size: 18px;
  margin-bottom: 0.7rem;
}

.infoLeft p {
  font-size: 14px;
  margin-top: 0;
}

.infoLeft ul {
  padding: 0;
  margin-bottom: 0;
}

.infoLeft li {
  display: inline-flex;
  color: white;
  background-color: #ff6060;
  padding: 0.2rem 1.5rem;
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
  border-radius: 0.3rem;
  font-size: 10px;
}

.infoRight {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.infoHost {
  display: flex;
  align-items: center;
}

.infoHost p {
  font-size: 12px;
  width: 4rem;
  text-align: end;
  width: 50%;
  margin-right: 0.5rem;
}

.infoHost img {
  border-radius: 50%;
  width: 2.5rem;
}
/*TALETTE*/
@media screen and (min-width: 768px) {
  .infoWrap {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .infoLeft {
    width: 70%;
  }
  .infoRight {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0;
  }
  .infoHost img {
    margin-bottom: 1rem;
  }
  .infoHost p {
    font-size: 14px;
    margin-top: 0;
  }
  .infoHost {
    margin-top: 1rem;
  }
  .rating {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
  .infoWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ff6060;
  }

  .infoLeft h2 {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
  }

  .infoLeft p {
    font-size: 1.3rem;
    margin-top: 0;
  }

  .infoLeft ul {
    padding: 0;
    width: fit-content;
  }

  .infoLeft li {
    display: inline-flex;
    color: white;
    background-color: #ff6060;
    padding: 0.2rem 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: 16px;
  }

  .infoHost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
    column-gap: 1rem;
  }

  .infoHost p {
    font-size: 1.3rem;
    font-weight: bold;
    width: 4rem;
    text-align: end;
    width: 50%;
  }

  .infoHost img {
    border-radius: 50%;
    width: 5.5rem;
  }

}
