.collapseWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 6rem 0 6rem;
}

.collapseVisible {
  background: #ff6060;
  width: 100%;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
}

.collapseVisible span {
  padding: 0.7rem;
  font-size: 22px;
  font-weight: bold;
}

.collapseVisible img {
  width: 20px;
  transform: rotate(-180deg);
  transition: transform 0.4s ease-in-out;
}

.collapseVisible img.active {
  transform: rotate(0deg);
}

.collapseToggle {
  height: 0px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}

.animated {
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
}

.collapseToggle p {
  padding: 0.4rem 1rem 0.4rem 1rem;
  line-height: 1.5;
  color: #ff6060;
  font-size: 22px;
}
