/*GLOBAL CSS RULES*/
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: #ff6060;
}

a:visited {
  text-decoration: none;
  color: #ff6060;
}
